body {
	background: #efefef;
  	padding-top: 40px;
  	padding-bottom: 40px;
}

h1 {
	font: 48px bold "Trebuchet MS";
}

#main .test {
	background-color: red;
	width: 100px;
	position: absolute;
	top: 75%;
	right: 25%;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}
#bar {
	width: 100%;
	height: 457px;
	border: 1px ridge silver;
	border-radius: 8px;
	text-align: center;
	vertical-align: middle;
	background-image: url('./img/banking.jpg');
	margin-bottom: 10px;
}
#bar .input-group {
	margin: 55px auto 0 auto;
}
h1 {
	color: #ffffff;
	text-shadow: 2px 2px #000000;
	vertical-align: center	
}
h4 {
	color: #ffffff;
	text-shadow: 2px 2px #000000;
}
}	
	
}